.label {
  display: flex;
  flex-direction: column;

  .title {
    margin-bottom: 8px;
  }

  .input {
    color: var(--gray);
    padding: 15px;
    background-color: var(--gray-light);
    border: solid 1px transparent;
    border-radius: 8px;

    &::placeholder {
      color: var(--gray);
    }

    &.error {
      border-color: var(--red);
    }
  }

  .textError {
    font-size: 10px;
    font-weight: normal;
    line-height: auto;
    color: var(--red);
    margin-top: 4px;
  }
}
