.loginForm {
  width: 500px;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 20px 0 rgba(#000000, 0.08);

  .wrapper {
    margin-bottom: 24px;

    & > h2 ~ label {
      margin-top: 16px;
    }
  }

  .buttons {
    text-align: center;

    .link {
      font-size: 13px;
      line-height: normal;
    }
    
    .btnSubmit {
      width: 100%;
      margin-top: 10px;
    }
  }
}
