.wrapper {
  --margin-lr: 80px;
  padding: 48px var(--margin-lr) 69px;

  & > [id="main-loader"] {
    height: 265px;
  }

  @media screen and (max-width: 1440px) {
    --margin-lr: 40px;

    & > [id="main-loader"] {
      height: 550px;
    }
  }

  @media screen and (max-width: 1367px) {
    --margin-lr: 35px;
  }
}