.label {
  display: flex;
  flex-direction: column;

  & > span {
    margin-bottom: 8px;
  }

  .wrapper {
    position: relative;
    border: solid 1px transparent;
    border-radius: 8px;
    background-color: var(--gray-light);

    .input {
      color: var(--gray);
      padding: 15px 39px 15px 15px;

      &::placeholder {
        color: var(--gray);
      }
    }

    svg {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      margin: 11px 8px;
    }

    &.error {
      border-color: var(--red);
    }
  }

  .textError {
    font-size: 10px;
    font-weight: normal;
    line-height: auto;
    color: var(--red);
    margin-top: 4px;
  }
}
