$color_svg: #6a1fcd;

.card {
  cursor: pointer;
  padding: 36px 20px 20px;
  border: solid 1px transparent;
  border-radius: 10px;
  box-shadow: 0 1px 3.98px rgba(#333, 0.15);

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .avatar {
      display: block;
      overflow: hidden;
      object-fit: cover;
      width: 124px;
      height: 124px;
      border-radius: 100%;
      margin-bottom: 16px;
    }

    .name {
      color: var(--black);
      margin-bottom: 16px;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;

    .btnLike {
      display: block;
      height: auto;
      border-radius: 4px;
      background-color: var(--gray-light);

      & > svg {
        display: block;
        height: 28px;
        width: 30px;
        stroke: var(--black);
        fill: transparent;
        transition:
          stroke 0.1s linear,
          fill 0.1s linear;
      }

      @media (hover: hover) {
        & > svg:hover {
          stroke: var(--violet);
        }
      }

      @media (hover: none) {
        & > svg:active > svg {
          stroke: var(--violet);
        }
      }
    }
  }

  &[data-liked] {
    .btnLike {
      & > svg {
        stroke: var(--violet);
        fill: var(--violet);
      }

      @media (hover: hover) {
        & > svg:hover {
          fill: $color_svg;
          stroke: $color_svg;
        }
      }

      @media (hover: none) {
        & > svg:active {
          fill: $color_svg;
          stroke: $color_svg;
        }
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      border-color: var(--black);
    }
  }

  @media (hover: none) {
    &:active {
      border-color: var(--black);
    }
  }
}
