.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  font-size: 13px;
  font-weight: 500;
  margin-top: 56px;

  .btnPagination {
    border-radius: 8px;
    padding: 9px;
    border: solid 1px transparent;
    transition: border-color 0.1s ease-in;

    @media (hover: hover) {
      &:hover {
        border-color: var(--violet);
      }
    }

    @media (hover: none) {
      &:active {
        border-color: var(--violet);
      }
    }

    &.btnActive {
      color: var(--white);
      background-color: var(--violet);
    }
  }

  .arrow {
    position: relative;
    z-index: 1;
    line-height: 0;
    border-radius: 8px;
    border: solid 1px var(--black);
    transition:
      border-color 0.1s ease-in,
      fill 0.1s linear;

    & > svg {
      position: relative;
      z-index: -1;
      fill: var(--black);
      width: 40px;
      height: 40px;
    }

    @media (hover: hover) {
      &:hover {
        border-color: var(--violet);

        & > svg {
          fill: var(--violet);
        }
      }
    }

    @media (hover: none) {
      &:active {
        border-color: var(--violet);

        & > svg {
          fill: var(--violet);
        }
      }
    }

    &:disabled {
      border-color: var(--gray);

      & > svg {
        z-index: -1;
        fill: var(--gray);
      }
    }
  }

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
