.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 305px);
  justify-content: center;
  gap: 20px;
  width: 100%;

  @media screen and (max-width: 1440px) {
    grid-template-columns: repeat(2, 305px);
  }

  @media screen and (max-width: 720px) {
    grid-template-columns: 305px;
  }
}
