.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  font-size: 13px;
  font-weight: 500;
  margin-top: 56px;

  .arrow {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    padding: 10px;
    border: solid 1px var(--black);

    &:disabled {
      cursor: not-allowed;
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
