.root_wrapper {
  height: 100vh;
}

.root_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------- TEXT ---------- */
.root_h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: normal;
}

.root_h1 {
  font-size: 64px;
  font-weight: normal;
  line-height: normal;
}

.root_textSmall {
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
}
