@use "./colors";
@use "./classes";

body {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.362;
  height: 100vh;
  color: var(--black);
  background-color: var(--white);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button {
  background: none;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  border-radius: 8px;
  border-width: 0;
  background-color: #f2f2f2;
}

/* button {
  cursor: pointer;
  padding: 7px 12px;
  transition: background-color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;

  &:hover {
    background-color: #e6e6e6;
  }
}

input {
  padding: 8px 12px;
  transition: background-color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;

  &:hover,
  &:focus {
    background-color: #e6e6e6;
  }
} */
